{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">Школьный дневник</div>
        <div class="navbar-links">
            <a href="/" class="navbar-link">Главная</a>
            <a href="/schedule/" class="navbar-link">Расписание</a>
            <a href="/grades/" class="navbar-link">Успеваемость</a>
            <a href="{% url 'profile' %}" class="navbar-link active">Профиль</a>
            {% if user.role == "admin "%}
            <a href="/admin/" class="navbar-link">Админ-панель</a>
            {% endif %}
            <a href="/logout/" class="navbar-link logout">Выйти</a>
        </div>
    </nav>
    <div class="dashboard-content">
        <div class="diary-block">
            <h2>Профиль</h2>
            <div class="profile-info">
            <p><b>Имя пользователя:</b> {{ user.username }}</p>
            <p><b>ФИО:</b> {{ user.last_name }} {{ user.first_name }}</p>
            <p><b>Роль:</b> {{ user.get_role_display }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
        </div>
        <a href="/" class="back">На главную</a>
    </div>
</body>
</html>
